:root {
    --coffee-color-1: #EDE0D4;
    --coffee-color-2: #E6CCB2;
    --coffee-color-3: #DDB892;
    --coffee-color-4: #B08968;
    --coffee-color-5:
    --coffee-color-6:

}

body {
    background-color: #0e0d0d;
    color: #0e0d0d;
    font-family: "Nunito Sans", sans-serif;
}

#product-list {
    display: flex;
    gap: 1.5rem;
    padding: 2rem;
    flex-wrap: wrap;
}

.product-card {
    border-radius: 0.5rem;
    max-width: 18rem;
    background-color: gray;
    padding: 2rem 1rem;
}

.product-image {
    max-width: 100%;
}
