:root {
    --coffee-color-1: #ede0d4;
    --coffee-color-2: #e6ccb2;
    --coffee-color-3: #ddb892;
    --coffee-color-4: #b08968;
    --coffee-color-5: #7f5539;
    --coffee-color-6: #9c6644;
    --color-light: #fffefd;
    --color-dark: #2d100e;
    --header-height: 98px;
}

html {
    font-size: 16px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    color: var(--color-dark);
    font-family: "Nunito Sans", sans-serif;
}

@media screen and (max-width: 560px) {
    html {
        font-size: 12px;
    }
}

/* body */

#header {
    padding: 2rem 1 rem;
    background-color: var(--coffee-color-4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 114px;
}

#header .mobile-menu-toggle {
    display: none;
    font-size: 1.75rem;
}

#header .mobile-menu-toggle:hover {
    cursor: pointer;
}

#header .logo-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#header .logo-wrapper .logo {
    max-width: 50px;
}

#header .logo-wrapper .name {
    font-size: 2rem;
}

#header .navigation {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#header .navigation .link {
    position: relative;
    font-size: 1.125rem;
    text-decoration: none;
    color: var(--color-light);
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

#header .navigation .link.cart span {
    background-color: var(--color-dark);
    color: var(--coffee-color-1);
    padding: 0 0.5rem;
    border-radius: 50%;
}

#header .navigation .link.wish span {
    background-color: var(--color-dark);
    color: var(--coffee-color-1);
    padding: 0 0.5rem;
    border-radius: 50%;
}

#header .navigation .link:hover {
    color: var(--color-dark);
}

#header .navigation .link.button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-dark);
    border-radius: 0.25rem;
}

#header .navigation .link.button:hover {
    background-color: var(--coffee-color-3);
}

#product-list {
    display: flex;
    gap: 1.5rem;
    padding: 2rem;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.product-card {
    border-radius: 0.5rem;
    max-width: 18rem;
    padding: 2rem 1rem;
}

.product-image {
    max-width: 100%;
}

.product-add-to-cart-button {
    display: block;
    background-color: var(--coffee-color-5);
    color: var(--coffee-color-1);
    font-size: 0.75rem;
    border-radius: 0.25rem;
    width: fit-content;
    padding: 0.5rem 0.75rem;
}

.product-add-to-cart-button:hover {
    cursor: pointer;
}

.wishlist-button {
    display: block;
    margin-top: 0.5rem;
    background-color: var(--coffee-color-3);
    color: var(--coffee-color-1);
    font-size: 1rem;
    border-radius: 0.25rem;
    padding: 0.25rem;
    width: fit-content;
}

.wishlist-button:hover {
    cursor: pointer;
}

@media screen and (max-width: 850px) {
    #header .navigation {
        display: none;
    }

    #header .navigation.mobile-open {
        display: flex;
        position: absolute;
        top: var(--header-height);
        left: 0;
        animation-name: mobilemenu;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        left: 0;
        top: 114px;
        flex-direction: column;
        justify-content: center;
        z-index: 100;
        background-color: var(--coffee-color-4);
    }

    #header .mobile-menu-toggle {
        display: block;
    }
}

@keyframes mobilemenu {
    from {
        width: 0;
        height: 0;
        opacity: 0;
        left: 50%;
        border-radius: 2rem;
    }

    to {
        width: 100vw;
        height: calc(100vh - var(--header-height));
        opacity: 1;
        left: 0;
        border-radius: 0rem;
    }
}

#hero {
    position: relative;
}

#hero .hero-image {
    max-width: 100%;
}

#hero .overlay {
    position: absolute;
    background: linear-gradient(
        90deg,
        rgba(176, 137, 104, 0.4),
        rgba(176, 137, 104, 01)
    );
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#hero .overlay .description-wrapper {
    max-width: 40rem;
    padding: 2rem;
}

#hero .overlay .description-wrapper .title {
    font-size: 4rem;
    margin-bottom: 2rem;
    line-height: 3.2rem;
}

#hero .overlay .description-wrapper .description {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#hero .overlay .description-wrapper .cta-button {
    display: block;
    background-color: var(--color-dark);
    color: var(--coffee-color-1);
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    width: fit-content;
    transition: all 0.2s ease-in-out;
}

#hero .overlay .description-wrapper .cta-button:hover {
    background-color: var(--coffee-color-3);
    color: var(--color-dark);
}
