:root {
    --coffee-color-1: #ede0d4;
    --coffee-color-2: #e6ccb2;
    --coffee-color-3: #ddb892;
    --coffee-color-4: #b08968;
    --coffee-color-5: #7f5539;
    --coffee-color-6: #9c6644;
}

body {
    background-color: #0e0d0d;
    color: #0e0d0d;
    font-family: "Nunito Sans", sans-serif;
}

#header {
    padding: 2rem 1 rem;
}

#product-list {
    display: flex;
    gap: 1.5rem;
    padding: 2rem;
    flex-wrap: wrap;
}

.product-card {
    border-radius: 0.5rem;
    max-width: 18rem;
    background-color: gray;
    padding: 2rem 1rem;
}

.product-image {
    max-width: 100%;
}
